.post-user-avatar {
    max-width: 42px;
    max-height: 42px;
    border-radius: 50% !important;
}

.posts-card-light {
    background-color: white !important;
    transition: 0.2s !important;
}

.posts-card-dark {
    background-color: #282d31 !important;
    transition: 0.2s !important;
}

.posts-card-link {
    color: #5cabb7;
}

.posts-card-link:hover {
    color: #72d0de;
}
