.theme-toggler-button {
    font-size: 1.5rem !important;
}

.theme-toggler-button:focus, .theme-toggler-button:active, .theme-toggler-button:hover {
    box-shadow: unset !important;
    outline: 0 !important;
}


