html {
  overflow-y: scroll;
}

.app {
  text-align: center;
}

.home-light {
  color: rgba(0,0,0,.9) !important;
  transition: .25s ease;
}

.home-dark {
  color: #fff !important;
  transition: .25s ease;
}